<div class="contentwrapper messageswrapper">
    <div class="page-top messages-top"></div>
    <h3 class="header header-messages"><span>messages</span></h3>
    <div class="messages_container">
        <div class="sermon_header_wrapper" id="recent_sermon_header">
            <h3 class="sermon_header">Recent Sermons</h3>
        </div>
        <% @aVideos.each do |oVideo| %>
            <% sUrlPath = "https://www.youtube.com/watch?v=#{oVideo['resourceId']['videoId']}" %>
            <div class="video_wrapper">
                <div class="video_icon">
                    <button class="video_icon_link js-modal-btn" style="background:url(<%= oVideo['thumbnails']['medium']['url'] %>)" data-video-id="<%= oVideo['resourceId']['videoId'] %>">
                        <span class="youtube_icon"></span>
                    </button>
                </div>
                <div class="video_title">
                    <a class="js-modal-btn" data-video-id="<%= oVideo['resourceId']['videoId'] %>"><%= oVideo['title'] %></a>
                </div>
                <div class="video_description"><%= oVideo['description'] %></div>
            </div>
        <% end %>

<!--        <div class="video_broadcast" id="boxcast-widget-tft3ciozk9qcoqot0cfb"></div>//-->

        <script type="text/javascript" charset="utf-8">
            (function(d, s, c, o)
             {
                $(".js-modal-btn").modalVideo();
                /*var js = d.createElement(s), fjs = d.getElementsByTagName(s)[0];
                var h = (('https:' == document.location.protocol) ? 'https:' : 'http:');
                js.src = h + '//js.boxcast.com/v3.min.js';
                js.onload = function()
                {
                    boxcast.noConflict()('#boxcast-widget-'+c).loadChannel(c, o);
                };
                js.charset = 'utf-8';
                fjs.parentNode.insertBefore(js, fjs);
                */
            }(document, 'script', 'tft3ciozk9qcoqot0cfb', {"showTitle":1,"showDescription":1,"showHighlights":1,"showRelated":true,"defaultVideo":"next","market":"church"}));
        </script>


    </div>
</div>