<head>
    <% title = "Pastor Andrews" %>
    <% if controller_name != "pages" and controller_name != "" %>
        <% title = "#{title} - #{controller_name.titleize}" %>
    <% end %>
    <title><%= title %></title>
   <!-- <meta name="viewport" content="width=100, initial-scale=.4, maximum-scale=.4"> -->
    <meta name="viewport" content="width=200, initial-scale=.7, maximum-scale=1">
<!--    <meta name="viewport" content="width=555, initial-scale=.3, maximum-scale=.3">//-->
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', src="https://apis.google.com/js/platform.js" %>
    <%= javascript_include_tag 'application', src="https://platform.twitter.com/widgets.js" %>
</head>