<head>
    <% title = "Pastor Andrews" %>
    <% if controller_name != "pages" and controller_name != "" %>
        <% title = "#{title} - #{controller_name.titleize}" %>
    <% end %>
    <title><%= title %></title>
    <%= javascript_include_tag 'application', src="https://www.googletagmanager.com/gtag/js?id=UA-117403746-1", async: true %>
    <%= javascript_tag do %>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-117403746-1');
    <% end %>
    <meta name="viewport" content="width=200, initial-scale=.7, maximum-scale=1">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', src="https://apis.google.com/js/platform.js" %>
    <%= javascript_include_tag 'application', src="https://platform.twitter.com/widgets.js" %>
</head>