
<% siteurl = "http://ffcpastor.com/" %>

<!--  nav code -->
<div id="sitenav" class="site_nav">
    <div class="titlewrapper">
        <div class="title">
            <a href="<%= siteurl %>" class="homelink">
                <span class="titlepastor">pastor</span><span class="titleandrews">andrews</span>
                <span class="titledr">encouraging and equipping christian men</span>
            </a>
        </div>
        <nav id="navbar" class="titlelinks">
            <div id="navbar-inner">
                <a href="<%= siteurl %>" class="titlelink">home</a>
                <a href="<%= siteurl %>about" class="titlelink">about</a>
                <a href="<%= siteurl %>contact" class="titlelink">contact</a>
                <a href="<%= siteurl %>resources" class="titlelink">resources</a>
                <a href="<%= siteurl %>blog" class="titlelink">blog</a>
            </div>
        </nav>
    </div>
</div>