<% if !local_assigns[:siteurl] %>
  <% siteurl = "" %>
<% end %>

<nav id="navbar" class="titlelinks">
    <div id="navbar-inner">
        <div class="nav-div"><div class="nav-indicator" id="home_indicator"></div><a href="<%= siteurl %>" class="titlelink">home</a></div>
        <div class="nav-div"><div class="nav-indicator" id="about_indicator"></div><a href="<%= siteurl %>about" class="titlelink">about</a></div>
        <div class="nav-div"><div class="nav-indicator" id="contact_indicator"></div><a href="<%= siteurl %>contact" class="titlelink">contact</a></div>
        <div class="nav-div"><div class="nav-indicator" id="resources_indicator"></div><a href="<%= siteurl %>resources" class="titlelink">resources</a></div>
        <div class="nav-div"><div class="nav-indicator" id="blog_indicator"></div><a href="<%= siteurl %>blog" class="titlelink">blog</a></div>
    </div>
</nav>