<div class="section welcomewrapper">
    <button class="prevbutton glyphicon glyphicon-chevron-left"></button>
    <div class="welcomeslides">
        <div class="welcome welcomeslide1">
            <span>now available</span>
            Every word of the Bible is precious, but just as mountain ranges have famous peaks, certain chapters stand out in their significance in explaining God’s redemptive plan for you.
            <br><br>
            <button style="width:200px;" type="button" data-toggle="modal" data-target="#subscription_modal" id="banner_subscribe_button">
                Get your free copy
            </button>
        </div>
        <% oFirstArticle = @aArticles[0] %>
        <div class="welcome welcomeslide2" style="">
            <span><%= oFirstArticle['title'] %></span>
            <%= oFirstArticle['text'].html_safe %>
            <br><br>
            <a href="<%= @sDomain %><%= oFirstArticle['link'] %>" target="_blank" style="color:#676363">Read more</a>
        </div>
        <div class="welcome welcomeslide3">
             <span>Paul's Picks</span>
            <strong>Divorce and Remarriage by Guy Duty</strong> <br><br>
            A compassionate and Biblical analysis of scripture on the oft-confused subject of divorce and remarriage.
            If you want to know what Jesus and the apostles taught about divorce and remarraige, then by all means, get this book.
            <br><br>
                <a href="<%= picks_path %>">Learn more</a>
                <a target="_blank" href="https://www.amazon.com/gp/product/0764227262/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=0764227262&linkCode=as2&tag=pastorandrews-20&linkId=aac9234bec535b4ea1c1eebcdfb9f3b3">
                    Buy on Amazon
                </a>
        </div>
    </div>
    <button class="nextbutton glyphicon glyphicon-chevron-right"></button>
</div>
<div class="section linkswrapper">
    <% sWidth = "auto" %>
    <% if @aArticles.size == 5 %>
        <% sWidth = "18%" %>
    <% elsif @aArticles.size == 4 %>
        <% sWidth = "22%" %>
    <% elsif @aArticles.size == 3 %>
        <% sWidth = "30%" %>
    <% elsif @aArticles.size == 2 %>
        <% sWidth = "45%" %>
    <% elsif @aArticles.size == 1 %>
        <% sWidth = "auto" %>
    <% end %>
    <% nCount = 0 %>
    <% @aArticles.each do |oArticle| %>
    <div class="linkdiv" style="width:<%= sWidth %>">
        <a href="<%= @sDomain %><%= oArticle['link'] %>">
            <% if nCount == 0 and @bShowRecent == true %>
                <div class="recent_post_div"><i class="glyphicon glyphicon-star recent_icon"></i>Latest Post</div>
            <% end %>
            <div class="article_image_div" style="background:url('<%= oArticle['image'] %>');background-size:cover;background-position:center;"></div>
        </a>
        <div class="article_meta_div">
            <a target="_blank" class="article_link" href="<%= @sDomain %><%= oArticle['link'] %>">
                <%= oArticle['title'] %>
            </a>
            <div class="article_date_div">
                <%= oArticle['date'] %>
            </div>
            <div class="article_summary_div">
                <%= oArticle['text'].html_safe %>
            </div>
        </div>
    </div>
    <% end %>
</div>
<div class="section subformwrapper">
    <div class="subform">
        <div class="subform_header">subscribe</div>
        <div class="subform_subheader">
            Sign up to receive regular emails to encourage and equip you in your walk with Christ. When you do, I’ll send you my e-book,<br>
            <i>10 Chapters of the Bible Every Christian Should Know and Love</i>.
        </div>
        <div class="subform_emailform">
            <input type="email" id="subform_email" value="" placeholder="Email Address" />
            <button id="subform_email_btn" data-toggle="modal" data-target="#subscription_modal">sign up</button>
        </div>
        <div class="subform_privacy">
            Don’t worry, you can always unsubscribe later
        </div>
    </div>
</div>
<div class="section collagewrapper">
    <div class="collage-row">
        <div class="collage-img collage-row-1-img collage-row-1-img-1"></div>
        <div class="collage-img collage-row-1-img collage-row-1-img-2"></div>
        <div class="collage-img collage-row-1-img collage-row-1-img-3"></div>
    </div>
    <div class="collage-row">
        <div class="collage-img collage-row-2-img collage-row-2-img-1"></div>
        <div class="collage-img collage-row-2-img collage-row-2-img-2"></div>
        <div class="collage-img collage-row-2-img collage-row-2-img-3"></div>
        <div class="collage-img collage-row-2-img collage-row-2-img-4"></div>
    </div>
</div>