<div class="contentwrapper">
    <div class="page-top resources-top"></div>
    <h3 class="header header-resources"><span>pauls</span> picks</h3>
    <div class="resources">
        <div class="resources-col">
            <p>Normally you wouldn’t put Bible Study, golf, art, and motorcycles together, but those are a few of the things I most enjoy.
            I love the Word of God and sharing the unsearchable riches of Christ with my people. I’m not a very good golfer and have learned to enjoy it in spite of my ineptitude.
            Art is another area in which my love exceeds my ability. I’ve done a few pieces that could never attain the standard I hold as to what constitutes "fine art".
            My Harley-Davidson is a 2001 Fatboy 1340 V-Twin, and I love to take it out on sunny days and on short trips.
            Listed below you’ll find my recommendations for of few of the resources that I know, use, and love.</p>
        </div>
        <div class="resources-col resources-bottom">
            <!-- https://codepen.io/maxds/pen/jgeoA -->
        <% @aPicks.each do |oPick| %>
            <div class="media">
                <div class="media-left">
                    <%= oPick['image_link'].html_safe %>
                </div>
                <div class="media-right">
                    <span class="book_title">
                        <a target="_blank" href="<%= oPick['link'] %>">
                            <i><%= oPick['title'] %></i>, by <%= oPick['author'] %>
                        </a>
                    </span>
                    <%= oPick['description'] %>
                    <br><a target="_blank" href="<%= oPick['link'] %>">Buy on Amazon</a>
                </div>
            </div>
        <% end %>
        </div>
    </div>
</div>